


/*Floating Image Effect */

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.float-animation {
    animation: float 4s ease-in-out infinite;
}


/*Image Gallery */
.image-modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background */
    text-align: center;
}

.modal-content-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#modalImg {
    max-width: 80%;
    max-height: 70vh;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(255, 0, 220, 0.5);
}

.close-btn {
    position: absolute;
    top: -50px;
    right: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}




